/* proyects.css */

.containerProyects {
    background-color: #393952;
    padding-bottom: 2.5%;
}

.containerProyects h2 {
    text-align: center;
    margin-top: 2.5%;
    padding-top: 2%;
    font-size: 2em;
    letter-spacing: 0em;
    font-weight: bold;
 }

.carrousel {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}

.placeholderCarrousel h3{
    font-family: 'Solitreo', cursive;
    text-align: center;
    font-size: 2em;
    letter-spacing: 0em;

    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1.1px rgb(0, 0, 0);
}

@media screen and (max-width: 750px) {
     .carrousel{
        width:95%;
        padding-top: 2%;
        height:auto;
    }

    .containerProyects{
        padding-top: .5%;
        padding-bottom: 4.5%;
    }
}
